__pycache__
.mypy_cache
.pytest_cache
*.pyc
*.pyo
*.pyd
.pytype
.pytest*
.Python
.env
.git
.git/lfs
*.hd5
.idea
.mypy_cache
.pytest_cache
.ipynb_checkpoints
tests/
cache/
dev/
false/
figures/
lightning_logs/
wandb/
out/tf-projector/checkpoint
out/tf-projector/embedding*
out/tf-projector/projector_config.pbtxt
